<!DOCTYPE html>
<html ng-app="custom-webapp-ui" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scala di Valutazione degli Esiti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .custom-block {
            background-color: #f8f9fa;
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        tr {
            font-size: 12px;
            text-align: center;
        }

        td:nth-child(2) {
            width: 40%;
        }

        .question-title-container {
            border: 2px solid #354151;
            border-radius: 8px;
            margin: 20px 0;
            padding: 15px;
            background-color: #354151;
            color: white;
        }
    </style>
</head>
<body ng-app="custom-webapp-ui" ng-controller="CustomUIController">

<div class="container-fluid">
    <div class="container-question">
        <div class="question-title-container">
            <h5 class="mb-3">Scala di Valutazione degli Esiti</h5>
            <p>Pensando alla giornata di oggi fino a questo momento, aiutaci a capire come ti sei sentito valutando quanto ti sei sentito bene nelle seguenti aree della tua vita. I segni a sinistra indicano livelli bassi e quelli a destra indicano livelli alti.</p>
        </div>
    </div>

    <table class="table">
        <tbody>
            <!-- Complessivamente -->
            <tr>
                <th scope="col" colspan="3" class="text-center">Complessivamente:<br>(Benessere generale)</th>
            </tr>
            <tr>
                <td>Basso</td>
                <td>
                    <div class="custom-block">
                        <input type="range" class="form-control-range" id="ors_01" name="ors_01" min="0" max="50" step="0.01" ng-model="scalaValutazione[0].value">
                    </div>
                </td>
                <td>Alto</td>
            </tr>

            <!-- Individualmente -->
            <tr>
                <th scope="col" colspan="3" class="text-center">Individualmente:<br>(Benessere personale)</th>
            </tr>
            <tr>
                <td>Basso</td>
                <td>
                    <div class="custom-block">
                        <input type="range" class="form-control-range" id="ors_02" name="ors_02" min="0" max="50" step="0.01" ng-model="scalaValutazione[1].value">
                    </div>
                </td>
                <td>Alto</td>
            </tr>

            <!-- Interpersonale -->
            <tr>
                <th scope="col" colspan="3" class="text-center">Interpersonale:<br>(Famiglia, relazioni strette)</th>
            </tr>
            <tr>
                <td>Basso</td>
                <td>
                    <div class="custom-block">
                        <input type="range" class="form-control-range" id="ors_03" name="ors_03" min="0" max="50" step="0.01" ng-model="scalaValutazione[2].value">
                    </div>
                </td>
                <td>Alto</td>
            </tr>

            <!-- Socialmente -->
            <tr>
                <th scope="col" colspan="3" class="text-center">Socialmente:<br>(Lavoro, scuola, amicizie)</th>
            </tr>
            <tr>
                <td>Basso</td>
                <td>
                    <div class="custom-block">
                        <input type="range" class="form-control-range" id="ors_04" name="ors_04" min="0" max="50" step="0.01" ng-model="scalaValutazione[3].value">
                    </div>
                </td>
                <td>Alto</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Invia</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    angular.module("custom-webapp-ui", []).controller('CustomUIController', function ($scope) {
        $scope.scalaValutazione = [
            { name: "ors_01", value: 25 },
            { name: "ors_02", value: 25 },
            { name: "ors_03", value: 25 },
            { name: "ors_04", value: 25 }
        ];
    });
</script>

</body>
</html>